In [1]:
# Use Pandas to group and aggregate data in an Excel spreadsheet based
# on one or more columns and output the results to a new Excel file

In [2]:
import pandas as pd
import openpyxl

In [3]:
workbook = openpyxl.load_workbook('Budget for fundraiser event1.xlsx')

D:\Django\Seventh_String_2\venv\Lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
D:\Django\Seventh_String_2\venv\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Slicer List extension is not supported and will be removed
  warn(msg)

In [4]:
sheet_names = workbook.sheetnames

In [5]:
sheet_names

['Event overview',
 'Expenses',
 'Revenue',
 'Income items',
 'Expenditure items',
 'Participants']

In [6]:
worksheet_expenses = workbook['Expenses']

In [7]:
expense_col_name = ['SOURCE', 'AMOUNT', 'DATE', 'EXPENSED BY']

In [8]:
row_values = {}

for row in worksheet_expenses.rows:
    for cell in row:
        if cell.value in expense_col_name:
            row_values[cell.value] = (cell.column, cell.row)

In [9]:
row_values

{'SOURCE': (2, 4), 'AMOUNT': (3, 4), 'DATE': (4, 4), 'EXPENSED BY': (5, 4)}

In [10]:
for row in worksheet_expenses.rows:
    for cell in row:
        if cell.value is not None:
            print(cell.value, cell.column, cell.row, sep='|')

EVENT OVERVIEW|7|1
REVENUE|9|1
REVENUE AND EXPENSES|2|2
EXPENSES|2|3
SOURCE|2|4
AMOUNT|3|4
DATE|4|4
EXPENSED BY|5|4
Vehicle Rental|2|5
115|3|5
2025-06-01 00:00:00|4|5
Martin|5|5
Supplies|2|6
45.5|3|6
2025-06-02 00:00:00|4|6
Sonsere|5|6
Supplies|2|7
50|3|7
2025-06-01 00:00:00|4|7
Felicia|5|7
Advertising|2|8
19.5|3|8
2025-06-01 00:00:00|4|8
Sundeep|5|8
Business license|2|9
34|3|9
2025-06-02 00:00:00|4|9
Paul|5|9

In [11]:
df_expenses = pd.DataFrame()

def getCells(heading, last_row_num, worksheet):
    df_list = []
    for row in worksheet.rows:
        for cell in row:
            if cell.value == heading:
                for i in range(cell.row + 1, last_row_num):
                    df_list.append(worksheet.cell(row=i, column=cell.column).value)
    return df_list

for item in expense_col_name:
    df_expenses[item] = getCells(item, 10, worksheet_expenses) # should automate the
    # number of rows. see below applied changes to revenue (last_row)

In [12]:
df_expenses

             SOURCE  AMOUNT       DATE EXPENSED BY
0    Vehicle Rental   115.0 2025-06-01      Martin
1          Supplies    45.5 2025-06-02     Sonsere
2          Supplies    50.0 2025-06-01     Felicia
3       Advertising    19.5 2025-06-01     Sundeep
4  Business license    34.0 2025-06-02        Paul

In [13]:
worksheet_revenue = workbook['Revenue']

In [14]:
revenue_col_names = ['SOURCE', 'AMOUNT', 'DATE', 'COLLECTED BY']

In [15]:
row_heading_values = {}
for row in worksheet_revenue:
    for cell in row:
        if cell.value in revenue_col_names:
            row_heading_values[cell.value] = (cell.column, cell.row)
row_heading_values

{'SOURCE': (2, 4), 'AMOUNT': (3, 4), 'DATE': (4, 4), 'COLLECTED BY': (5, 4)}

In [16]:
rows_coordinates = []
for row in worksheet_revenue.rows:
    for cell in row:
        if cell.value is not None:
            rows_coordinates.append(f'{cell.value} | {cell.column} | {cell.row}')
rows_coordinates

['EXPENSES | 7 | 1',
 'INCOME ITEMS | 8 | 1',
 'REVENUE AND EXPENSES | 2 | 2',
 'REVENUE | 2 | 3',
 'SOURCE | 2 | 4',
 'AMOUNT | 3 | 4',
 'DATE | 4 | 4',
 'COLLECTED BY | 5 | 4',
 'Raffle tickets | 2 | 5',
 '250 | 3 | 5',
 '2025-06-01 00:00:00 | 4 | 5',
 'Sara | 5 | 5',
 'Cash donation | 2 | 6',
 '50 | 3 | 6',
 '2025-06-01 00:00:00 | 4 | 6',
 'John | 5 | 6',
 'Anonymous donation | 2 | 7',
 '150 | 3 | 7',
 '2025-06-02 00:00:00 | 4 | 7',
 'Kaleigh | 5 | 7',
 'Silent auction | 2 | 8',
 '550 | 3 | 8',
 '2025-06-03 00:00:00 | 4 | 8',
 'Martin | 5 | 8',
 'Goods/services sold | 2 | 9',
 '75 | 3 | 9',
 '2025-06-03 00:00:00 | 4 | 9',
 'Sonsere | 5 | 9',
 'Cash donation | 2 | 10',
 '200 | 3 | 10',
 '2025-06-04 00:00:00 | 4 | 10',
 'Felicia | 5 | 10',
 'Anonymous donation | 2 | 11',
 '500 | 3 | 11',
 '2025-06-05 00:00:00 | 4 | 11',
 'Sundeep | 5 | 11',
 'Silent auction | 2 | 12',
 '775 | 3 | 12',
 '2025-06-06 00:00:00 | 4 | 12',
 'Merida | 5 | 12',
 'Goods/services sold | 2 | 13',
 '350 | 3 | 13',
 '2025-06-08 00:00:00 | 4 | 13',
 'Lacey | 5 | 13',
 'Raffle tickets | 2 | 14',
 '225 | 3 | 14',
 '2025-06-09 00:00:00 | 4 | 14',
 'Paul | 5 | 14',
 'Raffle tickets | 2 | 15',
 '150 | 3 | 15',
 '2025-06-11 00:00:00 | 4 | 15',
 'Felicia | 5 | 15',
 'Raffle tickets | 2 | 16',
 '125 | 3 | 16',
 '2025-06-11 00:00:00 | 4 | 16',
 'Sundeep | 5 | 16']

In [17]:
last_entry = rows_coordinates[len(rows_coordinates) - 1]

In [18]:
last_entry

'Sundeep | 5 | 16'

In [19]:
last_entry_list = last_entry.split('|')

In [20]:
last_entry_list

['Sundeep ', ' 5 ', ' 16']

In [21]:
last_row = int(last_entry_list[len(last_entry_list)-1])

In [22]:
last_row

16

In [23]:
df_revenue = pd.DataFrame()

In [24]:
for item in revenue_col_names:
    df_revenue[item] = getCells(item, last_row, worksheet_revenue)

In [25]:
df_revenue

                 SOURCE  AMOUNT       DATE COLLECTED BY
0        Raffle tickets     250 2025-06-01         Sara
1         Cash donation      50 2025-06-01         John
2    Anonymous donation     150 2025-06-02      Kaleigh
3        Silent auction     550 2025-06-03       Martin
4   Goods/services sold      75 2025-06-03      Sonsere
5         Cash donation     200 2025-06-04      Felicia
6    Anonymous donation     500 2025-06-05      Sundeep
7        Silent auction     775 2025-06-06       Merida
8   Goods/services sold     350 2025-06-08        Lacey
9        Raffle tickets     225 2025-06-09         Paul
10       Raffle tickets     150 2025-06-11      Felicia

In [26]:
grouped_revenue = df_revenue.groupby(['SOURCE']).agg({'AMOUNT': 'sum'})

In [27]:
grouped_revenue

                     AMOUNT
SOURCE
Anonymous donation      650
Cash donation           250
Goods/services sold     425
Raffle tickets          625
Silent auction         1325

In [28]:
grouped_revenue.to_excel('Revenue.xlsx')

In [29]:
# Use Openpyxl to format cells in an existing Excel workbook,
# such as changing font color, size, or background color

In [30]:
revenue_workbook = openpyxl.load_workbook('Revenue.xlsx')

In [31]:
rev_worksheet = revenue_workbook['Sheet1']

In [32]:
from openpyxl.styles import PatternFill

for row in rev_worksheet.rows:
    for cell in row:
        if cell.value is not None:
            if cell.row % 2:
                cell.fill = PatternFill(start_color='FFCC00', end_color='FFCC00', fill_type='solid')

In [33]:
revenue_workbook.save('Revenue.xlsx')

In [34]:
# Use Pandas and Openpyxl to perform calculations on data in an Excel spreadsheet,
# such as calculating the sum or average of a range of cells

In [35]:
total_revenue = df_revenue.AMOUNT.sum()

In [36]:
print(f'The total Revenue: ${total_revenue:,.2f}')

The total Revenue: $3,275.00

In [37]:
average_expenses = df_expenses.AMOUNT.mean()

In [38]:
print(f'The average Expenses: ${average_expenses:,.2f}')

The average Expenses: $52.80

In [39]:
# Use Openpyxl to create charts or graphs based on data in an existing
# Excel workbook and output the results to a new Excel file

In [40]:
from openpyxl.chart import BarChart, Reference

In [41]:
chart = BarChart()

In [42]:
data = Reference(rev_worksheet, min_col=1, min_row=2, max_col=3, max_row=6)

In [43]:
chart.add_data(data)

In [44]:
rev_worksheet.add_chart(chart, 'D2')

In [45]:
revenue_workbook.save('Revenue.xlsx')